<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>
       Pluto-Chat
    </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900|Inconsolata" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>

    <link rel="stylesheet" href="./static/home.css" />
</head>

<body>
    <div class="smooth">
        <header>
            <h3>Pluto</h3>
            <ul>
                <li><a href="#one">Home</a></li>
                <li><a href="#bottom">Contact</a></li>
                <li><a href="/login">Login</a></li>
            </ul>


        </header>
        <section id="one">
            <div class="content parallax">
                <div>
                    <h1>Pluto</h1>
                    <svg class="title">
                        <text x="0" y="40">Pluto</text>
                        <path d="M 0 66 50 61"></path>
                    </svg>
                    <p class="lead">
                        A Realtime-messaging application on the web for you to connect with your friends. The only thing you need is an account on Pluto!
                    </p>
                    <p class="lead">
                        If tou haven't joined the Pluto Community yet,
                        <a class="leadlink" href="/signup">Sign Up
                            now</a> and be a part of the Pluto community.
                    </p>
                </div>
        </section>
        <footer id="bottom">
            <div class="widgets">
                <h3>Pluto</h3>
            </div>
            <div class="copy">
                <p>
                    with <span>&#9829; </span> by
                    <a href="https://github.com/starwiz-7" target="_blank">Aryan Yadav</a>
                    <div class="flex-center">
                        <a href="https://github.com/starwiz-7"><i class="fa fa-github fa-2x icon-3d"></i></a>
                        <i class="fa fa-twitter fa-2x icon-3d"></i>
                        <a href="https://www.instagram.com/aryann__7/?hl=en"><i class="fa fa-instagram fa-2x icon-3d"></i></a>
                        <a href="https://www.linkedin.com/in/aryan-yadav-9b7157190/"><i
                                class="fa fa-linkedin fa-2x icon-3d"></i></a>
                    </div>
                </p>
                <a href="#one">Scroll top &#x2191;</a>
            </div>
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="./script.js"></script>
</body>

</html>